.loginpage{
  display: flex;
  align-items: center;
  justify-content: center;
  position : fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  padding : 0px;
  width: 100%;
  height: 100%;
  background-color: #46484c;
}

#log-Button{
  color: #ff8011;
}
