<section [ngStyle]="renderstyle2()" class="main-body">
  <article class="innermyplaylist">
    <section class="insideaudios">
      <!--THE FOR LOOP GOES HERE-->
      <div class="playlistitem" *ngFor ="let item of renderarray[0]">
        <article class="playlistitempict">
            <img class="audionormpicture" [src]="pictureforaudios + item._id"/>
        </article>
        <div class="audioname">
          <div class="actuallname">
            <p class="audiojina" [routerLink]="['/render/watch/',item._id]" (click)="gotofile()">{{item.display}}</p>
          </div>
          <div class="additional">
            <p class="audiojina">additional content</p>
          </div>
        </div>
      </div>
    </section>
  </article>
</section>
