/*DONT FORGET TO ADD THE MEDIA QUERIES LATER OR SHALL WE DO IT NOW OK*/
#navbarcont{
  margin-top: 0%;
  background-color: inherit;
  min-width:100%;
  position:fixed;
  height: 10%;
  display: flex;
  z-index:1;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.logobox{
  margin-left: 1%;
}
.logo{
  font-family: 'Tangerine', cursive;
  font-size: 30px;
}
#searchicon:hover{
  transform: scale(1.2);
}
#searchicon:active{
  transform: scale(0.8);
  color: #ff9321;
}
#searchicon{
  font-size: 30px;
  margin-left: 10px;
  color: #ff8011;
  transition: transform .2s;
}
#search-bar{
  margin-top: .6%;
  width:33.3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1%;
  background-color: inherit;
}
#search{
  width: 90%;
  height: 90%;
  border: solid;
  border-color: #ff8011;
}
#barsIconbox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1%;
  margin-top: .6%;
  background-color: inherit;
  width:33.3%;
  color: #ff8011;
  padding: 1%;
}
#thirdcol{
  width:33.3%;
  background-color: inherit;
  display:flex;
  justify-content: center;
  align-items: center;
}
.posticoncontainer{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#post:hover{
  transform : scale(0.9);
}
.undertext{
  color: #ff8011;
}
#post{
  color: #ff8011;
  font-size: 30px;
  transition: transform .2s;
}
#iconbar:hover{
  transform: scale(1.2);
}
#iconbar:active{
  transform: scale(0.8);
  color: #ff9321;
}
#iconbar{
  font-size: 40px;
  transition: transform .2s;
}
