.sidebarouter{
  background-color:#46484c;
  height: 90%;
  overflow-y: auto;
  width:28%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position:fixed;
  bottom: 0px;
  -webkit-animation: sidemove 1s;
  animation: sidemove 1s;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.innersider{
  background-color:#46484c;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.notneededinner{
  width:100%;
  height:100%;
  background-color:#46484c;
}
.sidebtns:active{
  color: #d37400;
}
.sidebtns:hover{
  transform : scale(1.1);
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.sidebtns{
  display: flex;
  color:#ff8011;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  height:130px;
  width:100%;
  transition : transform .2s;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.buttontext{
  color: inherit;
}
@keyframes sidemove {
  from {left: -350px;}
  to {left: 0px;}
}
@-webkit-keyframes sidemove {
  from {left: -350px;}
  to {left: 0px;}
}
