.inner-mainbody{
  width: 100%;
  height:100%;
  overflow-y: auto;
  padding:1%;
}
.introsideslide{
  font-size: 20px;
  color:#ff8011;
  margin-top: .7%;
}
.sideslide{
  width: 100%;
  overflow-x: auto;
  height:50%;
  margin-top: .7%;
  background-color:#46484c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avideo{
  min-width:20%;
  height: 70%;
  background-color: aqua;
  margin-left: 10px;
}
@media only screen and (max-width: 320px) {
  #navbarcont {
    background-color: lightblue;
  }
}
@media only screen and (max-width: 768px) {
  #navbarcont {
    background-color: lightblue;
  }
}
@media only screen and (max-width: 1200px) {
  #navbarcont {
    background-color: lightblue;
  }
}
