<section [ngStyle]="renderstyle3()" class="main-body">
  <article [ngStyle]="classico()" class="innerwatchpage">
    <section [ngStyle]="styleobjforudio" class="firstsection">
      <article class="ede">
        <div class="upperpart">
            <div class="boxforcontainer">
                <article class="innerboxforcont">
                  <div class="boxforothercontrols">
                    <div class="iconsbox">
                      <i class="fa fa-sliders" aria-hidden="true"></i>
                    </div>
                    <div class="iconsbox">
                      <div (click)="rendersettings()" class="iconcircle">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="boxforpicture">
                    <!--bring the cover picture here -->
                    <div class="editboxforcover" *ngIf="itsedit === true">
                      <!--THIS IS THE EDIT BOX FOR THE COVER PHOTO-->
                      <p>edit me</p>
                      <input (change)="uploader.uploadAll()" type="file" ng2FileSelect [uploader]="uploader"/>
                    </div>
                    <img *ngIf="itsedit === false" class="coverpic" [src]="mysrc + idparam"/>
                  </div>
                  <div class="boxforcontrols">
                    <!--icons for likes and comments and follows goes here-->
                    <article class="speacialspeacial">
                      <div class="boxofspeacialicons2">
                        <i (mouseover)="viewstxt()" class="fa fa-eye" aria-hidden="true"><span class="numberofsth">1M</span></i>
                      </div>
                      <div class="info">
                        <p *ngIf="viewsiconr === true">audience</p>
                      </div>
                    </article>
                    <article class="speacialspeacial">
                      <div class="boxofspeacialicons2">
                        <i (click)="followuser()" *ngIf="followiconplus === true" class="fa fa-user-plus" aria-hidden="true"><span>1M</span></i>
                        <i (click)="followuser()" *ngIf="followiconminus === true" class="fas fa-user-minus"><span>1M</span></i>
                      </div>
                      <div class="info">
                        <p class="followstatus" [ngStyle]="followingorstyle">{{followingor}}</p>
                      </div>
                    </article>
                    <article class="speacialspeacial">
                      <div class="boxofspeacialicons2">
                        <i (click)="likepost()" *ngIf="likeiconminus === true" class="far fa-heart" aria-hidden><span>1M</span></i>
                        <i (click)="likepost()" *ngIf="likeiconplus === true" class="fa fa-heart" aria-hidden="true"><span>1M</span></i>
                      </div>
                      <div class="info">
                        <p class="likestatus" [ngStyle]="likeorstyle">{{likeor}}</p>
                      </div>
                    </article>
                    <article class="speacialspeacial">
                      <div class="boxofspeacialicons2">
                        <i (mouseover)="commentsing()" class="fa fa-comments" aria-hidden="true"></i>
                        <i (mouseover)="commentsing()" class="far fa-comments" aria-hidden><span>1M</span></i>
                      </div>
                      <div class="info">
                        <p *ngIf="commentsr === true" >comments</p>
                      </div>
                    </article>
                  </div>
                </article>
                <section *ngIf="mysettings === true" class="outermysettings">
                  <div class="innermysettings">
                    <div class="settingscont">
                      <i (click)="editmode()" id="edit" class="fas fa-pen"><span class="sd">edit</span></i>
                    </div>
                    <div class="settingscont">
                      <i id="bug" class="fas fa-bug"><span class="sd">report bug</span></i>
                    </div>
                    <div class="settingscont">
                      <i id="flag" class="fas fa-flag"><span class="sd">flag</span></i>
                      <i id="flag2" class="far fa-flag"><span class="sd">flag</span></i>
                    </div>
                    <div class="settingscont">
                      <i id="share" class="fas fa-share-square"><span class="sd">share</span></i>
                      <i id="share2" class="far fa-share-square"><span class="sd">share</span></i>
                    </div>
                    <div class="settingscont">
                      <i id="save" class="fas fa-arrow-alt-circle-down"><span class="sd">save</span></i>
                      <i id="save2" class="far fa-arrow-alt-circle-down"><span class="sd">save</span></i>
                    </div>
                    <div class="settingscont">
                      <i id="clock" class="fas fa-clock"><span class="sd">later?</span></i>
                      <i id="clock2" class="far fa-clock"><span class="sd">later?</span></i>
                    </div>
                    <div class="settingscont">
                      <i id="lock" class="fas fa-lock"><span class="sd">blockuser</span></i>
                      <i id="lock2" class="fas fa-unlock"><span class="sd">blockuser</span></i>
                    </div>
                    <div class="settingscont">
                      <i id="bell" class="far fa-bell"><span class="sd">notifications</span></i>
                      <i id="bell2" class="fas fa-bell"><span class="sd">notifications</span></i>
                    </div>
                    <div class="settingscont">
                      <i id="ban" class="fas fa-ban"><span class="sd">report</span></i>
                    </div>
                    <div class="settingscont">
                      <i id="download" class="fas fa-download"><span class="sd">download</span></i>
                    </div>
                  </div>
                </section>
            </div>
        </div>
        <div class="lowerpart">
          <article class="videoplayer">
            <canvas id="analyser_render"></canvas>
            <div id="audio_box">
              <article class="inner-boxaud">
                  <article id="outerseeking">
                    <section class="innerseekingbox">
                      <div class="playname">
                        <!--the div im going to define below is absolute and so can be placed anywhere else-->
                        <!--Notification box to edit the user name-->
                        <div *ngIf="showusernamenotifbox === true" class="notification">
                          <article class="myinnerboxnotif">
                            <div class="introtexttoeditting">
                              <p class="editintrotext">enter new username:</p>
                            </div>
                            <div class="editinputusername">
                              <input (keyup)="newusername($event)" placeholder="new username" class="form-control" id="inputnewusername" type="text"/>
                            </div>
                            <div class="mybuttonstoedit">
                              <div (click)="submitnewname()" class="submitbox">
                                  <p>submit</p>
                              </div>
                              <div class="cancelbox"(click)="hidenotif()">
                                  <p>close</p>
                              </div>
                            </div>
                          </article>
                        </div>

                        <!--Notification box to edit the file name-->
                        <div *ngIf="showfilenamenotifbox === true" class="notification">
                          <article class="myinnerboxnotif">
                            <div class="introtexttoeditting">
                              <p class="editintrotext">enter new filename:</p>
                            </div>
                            <div class="editinputusername">
                              <input (keyup)="newfilename($event)" placeholder="new filename" class="form-control" id="inputnewusername" type="text"/>
                            </div>
                            <div class="mybuttonstoedit">
                              <div (click)="submitnewfilename()" class="submitbox">
                                  <p>submit</p>
                              </div>
                              <div class="cancelbox"(click)="hidefilenotif()">
                                  <p>close</p>
                              </div>
                            </div>
                          </article>
                        </div>

                        <section *ngIf="showusernamenotifbox === true || showfilenamenotifbox === true" class="clientnotificationsection">
                          <!--the div im going to define below is absolute and so can be placed anywhere else-->
                          <p>d</p>
                        </section>

                        <p class="identityofuploader" *ngIf="itsedit === false">( {{identityofuploader}} ):</p>
                        <div (click)="shownotif()" class="identityofuploaderedit" *ngIf="itsedit === true">
                          edit userName
                        </div>
                        <p class="playnametext" *ngIf="itsedit === false">{{filenameitem}}</p>
                        <div (click)="showfilenotif()" class="playnametextedit" *ngIf="itsedit === true">
                          edit filename
                        </div>
                      </div>
                      <div id="outerseekingbox">
                        <input id="seek"(change)="mouse($event)" type="range" min="0" max="100" [value]="yu" step="1">
                      </div>
                      <div class="mynumbers">
                        <div class="oneofnum">
                          <p class="progressdurr">{{tracecurr}}</p>
                        </div>
                        <div class="mycustomcontrols">
                          <div class="stepbackward">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                          </div>
                          <div class="playpauseicons">
                            <i *ngIf="paused === true"(click)="playpausecontrol()" class="fa fa-play" aria-hidden="true"></i>
                            <i *ngIf="paused === false"(click)="playpausecontrol()" class="fa fa-pause" aria-hidden="true"></i>
                          </div>
                          <div class="stepforward">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                          </div>
                          <div class="volumes">
                            <i *ngIf="notmuted === true" (click)="mute()" class="fa fa-volume-up" aria-hidden="true"></i>
                            <i *ngIf="volumedown === true" (click)="mute()" class="fa fa-volume-down" aria-hidden="true"></i>
                            <i *ngIf="muted === true" (click)="unmute()" class="fa fa-volume-off" aria-hidden="true"></i>
                          </div>
                          <input id="slidevolume"(change)="changevolume($event)" type="range" min="0" max="100" [value]="nowvol" step="1">
                        </div>
                        <div class="oneofnum2">
                          <p class="progressdurr">{{tracedurr}}</p>
                        </div>
                      </div>
                    </section>
                  </article>
                  <article class="lowersection">
                    <article class="insyder">
                      <div *ngIf="itsedit === true" id="picinfo2">
                        <p>edit me</p>
                        <input type="file"/>
                      </div>
                      <div id="picinfo">
                        <img class="profileimg" [src]="profileimgsrc+idparam"/>
                      </div>
                    </article>
                </article>
              </article>
            </div>
          </article>
        </div>
      </article>
    </section>
    <section *ngIf="list===true" class="secondsection">
      <article class="insidesecondsection">
        <!--LOOP GOES HERE-->
        <div class="otheritem" *ngFor = "let item of impoarray[0]">
          <article class="otheritempicture">
            <img class="actotheritempic" [src]="mysrc+item._id"/>
          </article>
          <article class="otheritemname">
            <p class="actotheritemname" (click)="change()" [routerLink]="['/render/watch/',item._id]">{{item.display}}</p>
          </article>
        </div>
      </article>
    </section>
  </article>
</section>
