#audio_box{
  float:left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
  height:50%;
  background-color: #46484c;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
#analyser_render{
  width:100%;
  height:50%;
  background:inherit;
  float: left;
}
#outerseeking{
  width:90%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#outerseekingbox{
  width: 100%;
  height: 30%;
  margin: 0px;
  padding: 0px;
}
.profileimg:hover{
  transform : scale(0.9);
}
.profileimg{
  height: 100%;
  width: auto;
  transition: transform .2s;
}
.playname{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0px;
  padding: 0px;
}
.mynumbers{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.oneofnum{
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mycustomcontrols{
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneofnum2{
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.innerseekingbox{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.boxforcontainer{
  width:50%;
  height:95%;
  background: white;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.innerboxforcont{
  height:100%;
  width: 100%;
}
.coverpic:hover{
  transform: scale(1.1);
}
.coverpic{
  width:auto;
  height:100%;
  transition: transform .2s;
}
.boxforpicture{
  overflow: hidden;
  height:70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46484c;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.boxforothercontrols{
  height:15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46484c;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.boxforcontrols{
  height:15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46484c;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.iconsbox{
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playpauseicons{
  margin : 2%;
}
.stepbackward{
  margin : 2%;
}
.stepforward{
  margin : 2%;
}
.volumes{
  margin : 2%;
}
i{
  color:#ff8011;
  cursor: pointer;
}
#slidevolume{
  width :10%;
}
.playnametext{
  color:#ff8011;
  font-size: 20px;
}
.identityofuploader{
  color:#ff8011;
  font-size: 20px;
}
.lowersection{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.inner-boxaud{
  width:100%;
  background-color: #46484c;
  height:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.videoplayer{
  width:100%;
  height:170px;
  margin:0px;

}
#picinfo{
  height:70px;
  width:70px;
  overflow: hidden;
  border-radius: 100%;
  background-color:#ff8011;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
#picinfo2{
  height:70px;
  width:70px;
  position:absolute;
  overflow: hidden;
  border-radius: 100%;
  background-color:#ff8011;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
#picinfo2>input[type="file"] {
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.identityofuploaderedit{
  background-color:  #ff8011;
  color: inherit;
  cursor: pointer;
}
.playnametextedit{
  background-color:  #ff8011;
  color: inherit;
  cursor: pointer;
  margin-left: 1%;
}
.editboxforcover>input[type="file"]{
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.editboxforcover{
  position: absolute;
  z-index: 1;
  background-color: #ff8011;
}
.insyder{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerwatchpage{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background: linear-gradient(to top right, #ff9900 8%, #cc33ff 88%);

}

.progressdurr{
  color:#ff8011;

}

.upperpart{
  width:100%;
  height:71.5%;
  display: flex;
  align-items:flex-start;
  padding: 1%;
  justify-content: center;
}
.lowerpart{
  width:100%;
  height:28.5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.ede{
  width:100%;
  height:100%;
  padding:0px;
}
.firstsection{
  width:70%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondsection{
  width:30%;
  height:100%;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  align-items: flex-start;
  background-color: #46484c;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.insidesecondsection{
  width: 100%;
  height:auto;
  padding:1%;
}
.otheritem:hover{
  transform: scale(1.1);
}
.otheritem{
  width: 100%;
  height:20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
  transition: transform .2s;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.otheritempicture{
  width:30%;
  height:100%;
}
.otheritemname{
  width:80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1%;
}
.actotheritemname{
  color:#ff8011;
  cursor: pointer;
}
.actotheritempic{
  width:100%;
  height:auto;
}
.outermysettings{
  height: 100%;
  min-width: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.innermysettings{
  width: 100%;
  height: 100%;
  display: block;
  background-color: #46484c;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.settingscont{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.iconcircle{
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  cursor: pointer;
}
.boxofspeacialicons{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxofspeacialicons2{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.speacialspeacial{
  width: 25%;
  height: 100%;
}
.info{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#edit:hover .sd{
  visibility: visible;
}
#bug:hover .sd{
  visibility: visible;
}
#flag:hover .sd{
  visibility: visible;
}
#flag2:hover .sd{
  visibility: visible;
}
#share:hover .sd{
  visibility: visible;
}
#share2:hover .sd{
  visibility: visible;
}
#save:hover .sd{
  visibility: visible;
}
#save2:hover .sd{
  visibility: visible;
}
#clock:hover .sd{
  visibility: visible;
}
#clock2:hover .sd{
  visibility: visible;
}
#lock:hover .sd{
  visibility: visible;
}
#lock2:hover .sd{
  visibility: visible;
}
#bell:hover .sd{
  visibility: visible;
}
#bell2:hover .sd{
  visibility: visible;
}
#ban:hover .sd{
  visibility: visible;
}
#download:hover .sd{
  visibility: visible;
}
.sd{
  visibility: hidden;
  position: absolute;
  left: 57.5%;
  background: black;
  opacity: .6;
}
.notification{
  background-color: #46484c;
  color : black;
  position: absolute;
  width: 20%;
  height: 20%;
  right: 40%;
  top: 40%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.myinnerboxnotif{
  width: 100%;
  height: 100%;
}
.introtexttoeditting{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#inputnewusername{
  width: 70%;
}
.editintrotext{
  color: #ff8011;
  font-size: 20px;
}
.editinputusername{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mybuttonstoedit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%
}
.cancelbox{
  cursor: pointer;
  width: 50%;
  color: #ff8011;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancelbox:hover > p {
  transform: scale(0.9);
}
.cancelbox > p {
  transition: transform .2s;
}
.submitbox:hover > p {
  transform: scale(0.9);
}
.submitbox > p {
  transition: transform .2s;
}
.submitbox{
  cursor: pointer;
  width: 50%;
  color: #ff8011;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientnotificationsection{
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .3;
}
