/* You can add global styles to this file, and also import other style files */
.title{
  font-family: 'Tangerine', cursive;
  color:#ffffff;
  font-size: 55px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
 -moz-animation: glow 1s ease-in-out infinite alternate;
 animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
li{
  list-style-type: none;
}
.introductorybtns{
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.successtext{
  color : green;
  font-size: 18px;
}
.attemps{
  color:#ff8011;
  font-size: 18px;
}
/*width*/
::-webkit-scrollbar{
  width : 5px;
  height : 5px;
}
/*track*/
::-webkit-scrollbar-track{
  background-color: #46484c;
}
::-webkit-scrollbar-thumb{
  background-color: #a5a4a4;
  transition : transform .3s;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #c4c4c4;
}
.errorbox{
  background-color: inherit;
}
.errortext{
  color: red;
}
@keyframes animateionsidebar {
  from{left:-300px;}
  to{left: 0px;}
}

@-webkit-keyframes animateionsidebar {
  from {left:-70px;}
  to {left:0px;}
}
/*Video page styling na haki sitairudia tena*/
.videosPage{
  width: 100%;
  height:100%;
  position:fixed;
  background-color:#46484c;
}
.main-body{
  background-color:#46484c;
  float: right;
  margin-top : 1%;
  max-height: 90%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.err{
  display: none;
}
/*the slider styling*/
/*First let us hide the slider so that we can add our own styles*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background:  #3071a9; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/*Styling the thumb*/
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background: #ff8011;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: #ff8011;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: #ff8011;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
 /*Styling the track*/
 input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   -webkit-appearance: none;
   cursor: pointer;
   margin-top: -1px;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   color: #ff8011;
   border-radius: 1.3px;
   border: 0.2px solid #010101;
 }
 input[type=range]:focus::-webkit-slider-runnable-track {
   background: #367ebd;
 }
 input[type=range]::-moz-range-track {
   width: 100%;
   cursor: pointer;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   background: #3071a9;
   border-radius: 1.3px;
   border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-progress {
  background-color: #ff8011;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #ff8011;
}
input[type="range"]::-ms-fill-upper {
  background-color: #3071a9;
}
